<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>110921428685-m1spkm8ojr10lmkm7rpqiviv8f8s63ci.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.110921428685-m1spkm8ojr10lmkm7rpqiviv8f8s63ci</string>
	<key>API_KEY</key>
	<string>AIzaSyCpjkJJlTo6gRTq2wT0cXr3_oy6kiHASaE</string>
	<key>GCM_SENDER_ID</key>
	<string>110921428685</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bubbleTea</string>
	<key>PROJECT_ID</key>
	<string>auth-flutter-60de1</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-flutter-60de1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:110921428685:ios:32ee5fa1768ffc4f038384</string>
</dict>
</plist>